* {
  -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

.page-header {
  padding: 0.5rem 0;
}

.right-element {
  float: right;
}

.right-justify {
  text-align: right;
}

.icon {
  display: inline;
  cursor: pointer;
  color: rgb(0, 0, 167);
  font-size: 17px;
  margin-left: 20px;
  vertical-align: middle;
}
