<<<<<<< HEAD
.my-room-container {
    color: blue;
    width: 100vw;
    height: 100vh;
    background-image: url(../../images/Cave-background3.jpg);
}

img {
    object-fit: contain;
=======
.room-name {
    color: rgb(38, 134, 106);
    font-size: 54px;
}

.my-room-container {
    /* box-sizing: border-box; */
    height: 100vh;
>>>>>>> main
}