@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Cormorant+Garamond&display=swap");

h1, h2 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
}

.selectCard {
    margin: 0 auto;
    max-width: 320px;
    width: 20rem;
    height: 7rem;
}

 .selectCard:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.card-title {
    display: block;
    top: 50%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Cinzel Decorative', serif;
    font-size: 24px;
    font-weight: bold;
}

a:link {
    text-decoration: none;
}

.red {
    color: crimson;
}

.blue {
    color: rgb(45, 45, 221);
}

.green {
    color: rgb(22, 94, 22);
}

.Camp {
    background-image: url(../../../public/assets/images/Scroll-background.jpg);
}