.dungeon-name {
    color: red;
    font-size: 54px;
}

/* .my-dungeon-container {
    box-sizing: border-box;
    height: 100vh;
    background-image: url(../../images/dungeon-background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: seagreen;
} */