Carousel {
  width: 50%;
}

/* .my-creatures-container {
    margin-bottom: auto;
    margin-top: 20px;
} */

/* .slide-container {
  display: inline;
  width: 100%;
}

.img {
  display: inline;
  width: 50px;
  height: 40px;
  object-fit: contain;
}

.each-fade {
    display: inline;
    width: 100%;
  }
  
  .each-fade > div {
    width: 50%;
  }
  
  .each-fade > img {
    width: 500px;
    height: 400px;
    object-fit: contain;
  } */
  
  /* .each-fade p {
    width: 25%;
    font-size: 1em;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #adceed;
  } */
  