.close-button {
    transition-duration: 0.3s;
}

.close-button:hover {
    background-color: #c9c1f3;
}

.area-title {
    font-size: 24px;
}

.hidden {
    display: none;
}

.Dungeon {
  font-family: 'Cinzel Decorative', serif;
  color: darkred;
  font-weight: bold;
  font-style: italic;
}

.Town {
  font-family: 'Cinzel Decorative', serif;
  color: rgb(100, 71, 17);
  font-weight: bold;
  font-style: italic;
}

.Wilderness {
  font-family: 'Cinzel Decorative', serif;
  color: rgb(0, 70, 0);
  font-weight: bold;
  font-style: italic;
}
