@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');


.nav-main {
    background-color: #ffffff;
    /* find a faint texture for the background image */
    background-image: url();
    top: 0px;
    box-shadow: 0 6px 6px -2px rgba(0,0,0,.2);
    /* box-shadow: none; */
    position: fixed;
  }
  
  .nav {
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      width: 100%;
      font-size: 24px;
      color: #05386B;
      
  }

  .emblem {
      width: 55px;
      height: 55px;
      margin-right: 9px;
      margin-bottom: 8px;
  }

  .nav-brand {
    font-size: 24px !important;
    font-family: 'Cinzel Decorative', serif;
    font-weight: 600; 
    color: #05386B !important; 
    position: relative;
    padding-left: 2px;
    letter-spacing: 0.1em;
    margin-top: 3px;
  }

  .capitalD {
      font-size: 38px;
      font-weight: 900 !important;
  }
  
  .nav :hover {
      color: #05386B !important;
  
  }
  
  .nav-item {
      font-family: 'Cinzel Decorative', serif;
      font-weight: 700;
      position: relative;
      color: #05386B !important;
      text-decoration: none;
    }
    
    .nav-item:hover {
      color: #042a50 !important;
    }
    
    .nav-item::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: rgb(23, 57, 78) !important;
      transform: scaleX(0);
      transition: transform 0.3s ease;
    }
    
    .nav-item:hover::before {
      transform: scaleX(1);
    }